.form {
  width: 70%;
  margin: 5% auto;
  font-family: "Rubik", sans-serif;
  /* border: solid; */
}

.form--title {
  font-size: 5rem;
  text-align: center;
  margin: 3rem;
}
.form--p {
  text-align: center;
  font-size: 1.8rem;
}

.form--input {
  border-radius: 1rem;
  font-size: 1.8rem;
  border: 1px solid rgb(43, 107, 139);
  width: 30rem;
  padding: 1rem 2rem;
}
.form--input:active {
  border: 1px solid;
  outline: none;
}

.form--label {
  font-size: 1.8rem;
  align-self: center;
  margin: auto;
  /* border: solid; */
}

.form--grid {
  display: grid;
  padding: 5rem 20rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  justify-items: center;
}

.form--volunteer {
  justify-content: center;
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.checkbox {
  height: 2rem;
  margin: auto;
}
.checkbox:checked {
  /* TODO: make checkbox customized */
  outline: none;
}

.form--btn {
  font-size: 1.8rem;
  padding: 0.5rem;
  width: 15rem;
  border-radius: 1rem;
  color: white;
  background-color: rgb(13, 36, 47);
  margin: 0 auto;
  grid-column: 1/3;
}

.form--spinner {
  color: rgb(93, 193, 240);
  grid-column: 1/3;
}

.form-error {
  grid-column: 1/3;
  color: red;
  font-size: 1.6rem;
}
