.hombound-card {
  border: 1px solid;
  padding: 1rem;
  width: 25rem;
  margin: 5rem;
  border-radius: 0.5rem;
  display: inline-block;
}

.hombound-cards {
  width: 70%;
  margin: 5% auto;
  width: 70%;
  text-align: center;
  /* display: flex; */
}
